body {
  font-family: Arial, sans-serif;
  background-color: #fcfcfc;
  font-size: 1.6rem;
  line-height: 1.8;
}

h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.7rem;
}
h4,
h5,
h6 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

figure {
  width: auto;
  margin-left: -2rem;
  margin-right: -2rem;
}

figcaption {
  margin-top: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-right: 2rem;
}

blockquote {
  margin-left: 2.5rem;
  margin-right: 0;
}

footer {
  text-align: center;
}

header {
  margin: 4rem 0;
}

footer {
  margin: 4rem 0;
}

.header-logo a:hover,
.header-logo a:focus,
.header-logo a:active {
  background-color: transparent;
  border-color: transparent;
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #e1e1e1;
  transition: border-color 0.1s ease-out;
}

.header-logo img:hover,
.header-logo a:hover img,
.header-logo a:active img,
.header-logo a:focus img {
  border-color: #853fff;
}

@media (max-width: 500px) {
  .header-logo {
    text-align: center;
  }
}

.entry-title {
  margin-bottom: 0;
  line-height: 1.7;
}

.entry-meta {
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: #888;
}

.footer-link {
  margin: 2rem 0;
}

.footer-link a {
  padding: 0.2rem;
}

.hr {
  height: 1px;
  margin: 2rem 0;
  background: #e1e1e1;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(white),
    color-stop(#e1e1e1),
    to(white)
  );
  background: -webkit-linear-gradient(left, white, #e1e1e1, white);
  background: linear-gradient(to right, white, #e1e1e1, white);
}

.highlight {
  margin-bottom: 4rem;
}

.highlight > pre {
  overflow: visible;
  background-color: transparent !important;
}

ul {
  list-style: circle outside;
}

ul li,
ol li {
  margin-left: 2.5rem;
}

@media (max-width: 700px) {
  ul li,
  ol li {
    margin-left: 1rem;
  }
}

.header-content {
}

.header-content > * {
  display: inline-block;
  margin: 4rem 2rem 0rem 0;
}

.header-content__description {
  display: block;
}

.container-v2 > *,
.container-v2__content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.container-v2__content > div {
  margin-bottom: 2.5rem;
}

@media (max-width: 600px) {
  .highlight {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .highlight > pre {
    overflow: scroll;
  }
  blockquote {
    margin-left: 1rem;
    margin-right: 0;
  }
}
