{{ partial "header.html" . }}

	<main role="main">
		<article class="container-v2 h-entry">
			<h1 class="entry-title p-name">{{ .Title }}</h1>
			<div class="entry-meta">
				{{ if eq .Type "page" }}
					{{/* Don't display date for pages */}}
				{{ else }}
					{{ partial "post-date.html" . }}
				{{ end }}
			</div>
			<a style="display:none;" class="p-author h-card" href="https://nilsnh.no">Nils Norman Haukås</a>
			<span class="p-summary" style="display:none;">{{.Summary}}</span>
			<span class="u-url u-uid" style="display:none;">{{.Permalink}}</span>
			<section class="container-v2__content e-content">
				{{ .Content }}
			</section>
		</article>
	</main>

{{ partial "footer.html" . }}
